<!--
 * @Title: 上传单个文件页面
 * @Author: huangjitao
 * @Date: 2022-08-02 16:10:22
 * @Description: description of this file
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/upload/doAddOne" method="post" enctype="multipart/form-data">
    <input type="text" name="title1" id="" placeholder="新闻标题"/>
    <br> <br>
    <input type="text" name="keywords" id="" placeholder="关键词"/>
    <br> <br>
    <input type="file" name="pic" id="" />
    <br> <br>
    <input type="submit" value="提交">
  </form>
</body>
</html>